@import "tailwindcss";

:root {
  --clr-blue-main: #2873b3;
  --clr-yellow-main: #f8d420dd;
  --clr-red-main: #f03d43dd;
  --clr-green-main: #2cb625dd;
}

/*
red:rgba(240, 61, 66, 1)
*/
@theme {
  --color-red-main: var(--clr-red-main);
  --color-green-main: var(--clr-green-main);
  --color-yellow-main: var(--clr-yellow-main);
  --color-blue-main: var(--clr-blue-main);
}

.hidden-hint {
  color: transparent;
}
